:root {
  --text-bg: #fafaed;
  --text-typo: #2f4f4f;
  --sidebar-bg: #2f4f4f;
  --thumb-bg: #fdfdf9;
  --thumb-typo: #1c2f2f;
  --button-bg: #b0c4de;
  --active-typo: #9eb0c7;
}

@font-face {
    font-family: 'crimson_text';
    src: url('fonts/crimsontext-roman.woff2') format('woff2'),
         url('fonts/crimsontext-roman.woff') format('woff'),
         url('fonts/crimsontext-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
}

#wrapper {
  display: flex;
  height: 100vh;
  font-family: crimson_text;
  color: var(--text-typo);
}

#text-container {
  width: 80%;
  padding: 50px 100px;
  background-color: var(--text-bg);
  overflow-y: auto;
}

#text {
  height: 100%;
  font-size: 1.7em;
}

#text:focus {
  outline: 0px solid transparent;
}

#sidebar {
  width: 20%;
  background-color: var(--sidebar-bg);
  overflow-y: auto;
}
.controls-container {
  position: fixed;
  bottom: 25px;
  right: calc(20% - 20px);
}

.control-button {
  padding: 7px;
  border-radius: 10px;
  background-color: var(--button-bg);
  color: var(--text-typo);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-family: arial;
  margin-left: 10px;
  user-select: none;
}

#active-draft {
  font-size: 1.5em;
  font-family: arial;
  color: var(--active-typo);
  text-align: right;
  margin-bottom: 15px;
}

.thumbnail {
  background-color: var(--thumb-bg);
  color: var(--thumb-typo);
  margin: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.thumbnail-content {
  padding: 5px;
  width: 100%;
}

.delete-container {
  min-width: 25px;
  background-color: var(--button-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  width: 12px;
}

.position-container {
  font-size: 1.4em;
  font-family: arial;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--active-typo);
  padding: 5px;
}
